In [1]:
import pandas as pd

adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' : [1, 2, 3]})

bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3' : ['T', 'F', 'T']})

In [2]:
pd.merge(adf, bdf, how='left')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [3]:
pd.merge(bdf, adf, how='left')

  x1 x3   x2
0  A  T  1.0
1  B  F  2.0
2  D  T  NaN

In [4]:
pd.merge(adf, bdf, how= 'inner')
# Another way to do the above Task
pd.merge(adf, bdf)

  x1  x2 x3
0  A   1  T
1  B   2  F

In [5]:
pd.merge(adf, bdf, how= 'outer')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [6]:
pd.concat([adf, bdf], sort=True)

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
0  A  NaN    T
1  B  NaN    F
2  D  NaN    T

In [7]:
pd.concat([adf, bdf], axis=1)

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  D  T

In [11]:
cdf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x3' : ['T', 'F', 'T']})
# cdf
pd.concat([adf, cdf], axis=1, sort=False)

pd.concat([adf, cdf], sort=False)

# Correct the indexing after concatination
df = pd.concat([adf, cdf], sort=False, ignore_index=True)
df

pd.merge(adf, cdf, how='left')

  x1  x2 x3
0  A   1  T
1  B   2  F
2  C   3  T

In [13]:
import numpy as np

df = pd.DataFrame({'a': [1, 10, 8, 11, -1],'b': list('abdce'), 'c': [1.0, 2.0, np.nan, 3.0, 4.0]})
df.nlargest(3, 'a')

df

    a  b    c
0   1  a  1.0
1  10  b  2.0
2   8  d  NaN
3  11  c  3.0
4  -1  e  4.0

In [16]:

df.nlargest(3, 'a')

    a  b    c
3  11  c  3.0
1  10  b  2.0
2   8  d  NaN