In [1]:
import numpy as np 
import pandas as pd 

df = pd.read_csv('./datasets/titanic.csv')

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
sur = df[df["Survived"] == 1]

In [5]:
sur_fare = sur[sur["Fare"] > 100]

In [6]:
len(sur_fare)

39

In [7]:
len(sur_fare)/len(sur)

0.11403508771929824

In [9]:
fare = df[df["Fare"] > 100]

In [10]:
len(fare)

53

In [11]:
dict(df[df['Fare'] > 100]['Survived'].value_counts())

{1: 39, 0: 14}

In [12]:
man = df[df["Sex"] == "male"]
len(man)

577

In [14]:
len(man[man["Survived"] == 1])

109

In [15]:
len(df[df["Survived"] == 1])

342

In [16]:
109/342

0.31871345029239767

In [17]:
dict(df[df['Sex'] == 'male']['Survived'].value_counts())

{0: 468, 1: 109}

In [18]:
df = pd.read_csv('./Datasets/tennis.txt', delimiter="\t", header=None, names=['Outlook', 'Temp', 'Humidity', 'Wind', 'Decision'])
df

     Outlook  Temp Humidity    Wind Decision
1      Sunny   Hot     High    Weak       No
2      Sunny   Hot     High  Strong       No
3   Overcast   Hot     High    Weak      Yes
4       Rain  Mild     High    Weak      Yes
5       Rain  Cool   Normal    Weak      Yes
6       Rain  Cool   Normal  Strong       No
7   Overcast  Cool   Normal  Strong      Yes
8      Sunny  Mild     High    Weak       No
9      Sunny  Cool   Normal    Weak      Yes
10      Rain  Mild   Normal    Weak      Yes
11     Sunny  Mild   Normal  Strong      Yes
12  Overcast  Mild     High  Strong      Yes
13  Overcast   Hot   Normal    Weak      Yes
14      Rain  Mild     High  Strong       No

In [19]:
wind = df[df["Wind"] == "Weak"]
len(wind)

8

In [22]:
wind_play = wind[wind["Decision"] == "Yes"]
len(wind_play)

6

In [23]:
df[df['Wind'] == 'Weak']['Decision']

1      No
3     Yes
4     Yes
5     Yes
8      No
9     Yes
10    Yes
13    Yes
Name: Decision, dtype: object

In [24]:
dict(df[df['Wind'] == "Weak"]['Decision'].value_counts())

{'Yes': 6, 'No': 2}

In [33]:
def conditional_prob(b, a, condition):
    df_new = df[df[b] == condition][a]
    print(len(df_new))
    unique_values = df_new.unique()
    prob_dict = {}
    for item in unique_values:
        print(len(df[(df[b] == condition) & (df[a] == item)]))
        prob_dict[item] = len(df[(df[b] == condition) & (df[a] == item)]) / len(df_new)
    return prob_dict

print(conditional_prob('Wind', 'Decision', 'Weak'))
print(conditional_prob('Humidity', 'Decision', 'High'))

8
2
6
{'No': 0.25, 'Yes': 0.75}
7
4
3
{'No': 0.5714285714285714, 'Yes': 0.42857142857142855}

# ^ P(B | A) = P(Decision | Wind)